.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 2;
    /* cursor: none; */
  }

  /* Wrapper per il video: centrato e con dimensioni relative */
.videoWrapper {
  position: absolute;
  /* width: 1920px;
  height: 1080px; */
  
  /* Con left, right, top e bottom a 0 e margin auto l'elemento si centra */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1vw;
  
  /* Ridimensiona il wrapper se la viewport è inferiore alle dimensioni originali */
  max-width: 100%;
  max-height: 100%;
  border-radius: 10%;
}

@media screen and (max-width: 780px) {
  .videoWrapper{
    margin: 0 !important;
  }
  .container{
    background-color: black !important;
  }
}
  
video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
  
  .fadeOut {
    animation: fadeOut 1s forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .backButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    font-weight: bold;
    border: none;
    /* border-radius: 50%;  */
    cursor: pointer;
    font-family: monospace;
    font-size: 24px;

    transition: all 0.3s ease-in-out;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

/* Icona "X" */
.backButton::before {
    content: "✖";  /* Simbolo X */
    font-size: 1.5vw;
    color: white;
}

/* Effetto hover */
.backButton:hover {
    /* background-color: rgba(255, 255, 255, 0.9); */
    transform: scale(1.3);
    /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); */
}


  .fadeIn {
    animation: fadeIn 3s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  